html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

.container {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > h1{
  background-color: rgba(128, 128, 128, 0.473);
  font-weight: 400;
  padding:30px 200px;
}

.container > p{
  margin: 0;
  padding: 0;
  color: rgb(102, 94, 94);
}

.card-container{
  margin: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}